@use "./utils/variables" as *;

@use "./layout/header";
@use "./layout/footer";

@use "./components/loading-overlay";
@use "./components/favorite";

@use "./pages/home";
@use "./pages/restaurant";

:root {
    color-scheme: light;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

html {
    max-width: 1440px;
    background-color: $grey-four;
    margin: auto;
}
