@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;
@use "../utils/spacing" as *;

footer {
    padding: $spacing-md;
    @include flex-column;
    gap: 20px;
    background: $grey;
    color: #fff;

    img {
        filter: invert(100%) sepia(100%) hue-rotate(180deg);
        height: 27px;
        width: 139px;
    }

    nav {
        @include flex-column;
        gap: 8px;

        a {
            @include font-roboto;
            color: #fff;
            text-decoration: none;

            i {
                @include icon-sm;
                margin-right: 4px;
            }
        }
    }
}

@include respond-to(lg) {
    footer {
        padding: $spacing-md;

        flex-direction: row-reverse;
        gap: $spacing-xl;
        align-items: flex-end;

        nav {
            flex-direction: row;
            align-items: flex-end;

            > :nth-child(2) {
                margin-right: $spacing-xl;
            }
        }
    }
}
