@use "../utils/mixins" as *;
@use "../utils/spacing" as *;

header {
    @include flex-centered;
    height: 63px;
    background: #fff;

    img {
        height: 36px;
        width: 197px;
    }

    &.header-with-arrow {
        position: relative;

        a {
            color: inherit;
            @include button-icon;
            position: absolute;
            left: $spacing-md;
        }
    }
}
