@use "../utils/mixins" as *;
@use "../base/typography" as *;
@use "../utils/spacing" as *;
@use "../utils/shadows" as *;
@use "../utils/variables" as *;
@use 'sass:color';

.button {
    @include flex-centered;
    @include font-roboto;
    @include body-text-sm;
    height: 50px;
    padding: 0 25px;
    border-radius: 25px;
    @include shadow-md;
    color: #fff;
    text-decoration: none;

    &.button-up {
        @include gradient-up;
    }

    &.button-down {
        @include gradient-down;
    }

    &:hover {
        @include shadow-hover-sm;
    }
}
