@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/spacing" as *;
@use "../utils/shadows" as *;

.explanation-item {
    @include h3;
    @include flex-row;

    &:nth-child(3) i {
        color: $purple !important;
    }

    &::before {
        @include flex-centered;
        width: 24px;
        height: 24px;
        position: absolute;
        border-radius: 100%;
        background-color: $purple;
        color: #fff;
    }

    @for $index from 1 to 4 {
        &:nth-child(#{$index})::before {
            content: "#{$index}";
        }
    }

    i {
        @include icon;
        color: $grey-four;
    }

    div {
        background-color: $background;
        margin-left: calc(24px / 2);
        @include shadow-sm;
        border-radius: 20px;
        @include flex-row;
        gap: 20px;
        @include spacing-md;
        height: 72px;
        width: 100%;

        p {
            @include font-roboto;
            font-weight: 500;
        }
    }
}
