@use "../base/typography";
@use "../utils/variables";
@use "../utils/mixins";

.restaurant-item {
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001a;
    background-color: #fff;

    .card-media {
        position: relative;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .badge-new {
            @include typography.badge-text;
            padding: 10px 15px;
            position: absolute;
            top: 16px;
            right: 16px;
            border-radius: 2px;
            background: variables.$green;
            color: variables.$green-font;
            box-shadow: 0px 2px 4px 0px #00000026;
        }
    }

    .card-footer {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        h3 {
            @include typography.bold-h3;
        }

        p {
            @include typography.light-text;
        }

        .fav-checkbox {
            display: none;
        }

        .fav-label {
            background: transparent;
            color: variables.$black;
            border: none;
            font-size: 21px;
            cursor: pointer;
            i {
                transition: all 0.3s ease;
            }
            .regular-icon {
                display: inline;
            }
            .solid-icon {
                display: none;
            }
        }

        .fav-checkbox:checked + .fav-label {
            color: transparent;
            .regular-icon {
                display: none;
            }
            .solid-icon {
                display: inline;
                @include mixins.gradient("down");
                background-clip: text;
            }
        }
    }
}
