@use "../base/typography" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/spacing" as *;
@use "../utils/shadows" as *;
@use "../utils/breakpoints" as *;

.restaurant-item {
    border-radius: 15px;
    @include shadow-lg;
    background-color: #fff;

    a {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .card-media {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .badge-new {
            @include badge-text;
            @include spacing-sm;
            position: absolute;
            top: 16px;
            right: 16px;
            border-radius: 2px;
            background: $green;
            color: $green-font;
            @include shadow-sm;
        }
    }

    .card-footer {
        @include flex-between;
        @include spacing-sm;

        h3 {
            @include h3;
        }

        p {
            @include body-text;
        }

        .fav-checkbox {
            display: none;
        }

        .fav-label {
            background: transparent;
            color: $black;
            border: none;
            @include button-icon;
            .regular-icon {
                display: inline;
            }
            .solid-icon {
                display: none;
            }
        }

        .fav-checkbox:checked + .fav-label {
            color: transparent;
            .regular-icon {
                display: none;
            }
            .solid-icon {
                display: inline;
                background: $gradient-up;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
            }
        }
    }
}

@include respond-to(lg) {
    .restaurant-item {
        width: calc(50% - 10px);
    }
}
