@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@mixin arimo {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}

@mixin roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

@mixin section-title {
    @include roboto;
    font-size: 24px;
    font-weight: 700;
}

@mixin bold-h3 {
    @include roboto;
    font-size: 18px;
    font-weight: 700;
}

@mixin light-text {
    @include  roboto;
    font-size: 17px;
    font-weight: 300;
}