@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  padding: 0 25px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #fff;
  text-decoration: none;
}
.button.button-up {
  background: linear-gradient(#ff79da, #9356dc 95%);
}
.button.button-up:hover {
  background: linear-gradient(rgb(255, 146.5, 225.0410447761), rgb(160.5, 107.125, 224.375) 95%);
}
.button.button-down {
  background: linear-gradient(#9356dc, #ff79da 95%);
}
.button.button-down:hover {
  background: linear-gradient(rgb(160.5, 107.125, 224.375), rgb(255, 146.5, 225.0410447761) 95%);
}
.button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition: all ease-in-out 200ms;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
}
header img {
  height: 36px;
  width: 197px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #353535;
  color: #fff;
}
footer img {
  filter: invert(100%) sepia(100%) hue-rotate(180deg);
  height: 27px;
  width: 139px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer nav a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: #fff;
  text-decoration: none;
}
footer nav a i {
  font-size: 12px;
  margin-right: 4px;
}

.explanation-item {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.explanation-item:nth-child(3) i {
  color: #9356dc !important;
}
.explanation-item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 100%;
  background-color: #9356dc;
  color: #fff;
}
.explanation-item:nth-child(1)::before {
  content: "1";
}
.explanation-item:nth-child(2)::before {
  content: "2";
}
.explanation-item:nth-child(3)::before {
  content: "3";
}
.explanation-item i {
  font-size: 20px;
  color: #7e7e7e;
}
.explanation-item div {
  background-color: #f6f6f6;
  margin-left: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  height: 72px;
  width: 100%;
}
.explanation-item div p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 500;
}

.restaurant-item {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
}
.restaurant-item .card-media {
  position: relative;
}
.restaurant-item .card-media img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant-item .card-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.restaurant-item .card-footer h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
  font-weight: 700;
}
.restaurant-item .card-footer p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 17px;
  font-weight: 300;
}
.restaurant-item .card-footer .fav-checkbox {
  display: none;
}
.restaurant-item .card-footer .fav-label {
  background: transparent;
  color: #101010;
  border: none;
  font-size: 21px;
  cursor: pointer;
}
.restaurant-item .card-footer .fav-label i {
  transition: all 0.3s ease;
}
.restaurant-item .card-footer .fav-label .regular-icon {
  display: inline;
}
.restaurant-item .card-footer .fav-label .solid-icon {
  display: none;
}
.restaurant-item .card-footer .fav-checkbox:checked + .fav-label {
  color: transparent;
}
.restaurant-item .card-footer .fav-checkbox:checked + .fav-label .regular-icon {
  display: none;
}
.restaurant-item .card-footer .fav-checkbox:checked + .fav-label .solid-icon {
  display: inline;
  background: linear-gradient(#9356dc, #ff79da 95%);
  background-clip: text;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  gap: 17px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  z-index: -1;
}
.hero h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  font-weight: 700;
}
.hero > p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: #353535;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

section {
  padding: 50px 20px;
}
section h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.explanations-list,
.restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

:root {
  color-scheme: light;
}

/*# sourceMappingURL=bundle.css.map */
