@use "./variables";

@mixin gradient($direction) {
    @if $direction == "up" {
        background: linear-gradient(variables.$pink-gradient, variables.$purple 95%);
    } @else if $direction == "down" {
        background: linear-gradient(variables.$purple, variables.$pink-gradient 95%);
    }
}

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
