$pink: #fcc0ce;
$pink-gradient: #ff79da;
$green: #99e2d0;
$green-font: #008766;
$blue: #89c8fa;
$blue-second: #003a68;
$purple: #9356dc;
$grey: #353535;
$grey-two: #eaeaea;
$grey-four: #7e7e7e;
$background: #f6f6f6;
$black: #101010;

$gradient-up: linear-gradient($pink-gradient, $purple 95%);
$gradient-down: linear-gradient($purple, $pink-gradient 95%);
